<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">SCHOOL DATA</h1>
        <p class="lead">This is a web page which contains the details about a School</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Teachers</h2>
            <p>This section contains the details about the Teachers</p>
            <p><a class="btn btn-outline-dark" href="/Teacher/ListTeachers">View Teachers</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Students</h2>
            <p>This section contains the details about the Students</p>
            <p><a class="btn btn-outline-dark" href="/Student/ListStudents">View Students</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Courses</h2>
            <p>This section contains the details about the Courses</p>
            <p><a class="btn btn-outline-dark" href="/Courses/ListCourses">View Courses</a></p>
        </section>
    </div>
</main>