@model IEnumerable<CumulativeProject.Models.Classes>

@{
    ViewBag.Title = "List Classes";
}

<a class="navlink" href="/">Back To Home</a>
<h2>ListClasses</h2>
<p>This page should be showing information about all Classes</p>

<div id="containerlist">
    <h2>List of Classes</h2>
    @foreach (var classes in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Classes/ShowClasses/@classes.ClassId">@classes.ClassCode</a></div>
        </div>
    }
</div>


